
:root {
    --colors-sand1: hsl(50, 20.0%, 99.0%);
    --colors-sand2: hsl(60, 7.7%, 97.5%);
    --colors-sand3: hsl(59, 6.5%, 95.1%);
    --colors-sand4: hsl(58, 6.1%, 92.9%);
    --colors-sand5: hsl(57, 6.0%, 90.7%);
    --colors-sand6: hsl(56, 5.9%, 88.4%);
    --colors-sand7: hsl(55, 5.9%, 85.2%);
}

:root {
    --colors-sand1: hsl(50, 20.0%, 99.0%);
    --colors-sand2: hsl(60, 7.7%, 97.5%);
    --colors-sand3: hsl(59, 6.5%, 95.1%);
    --colors-sand4: hsl(58, 6.1%, 92.9%);
    --colors-sand5: hsl(57, 6.0%, 90.7%);
    --colors-sand6: hsl(56, 5.9%, 88.4%);
    --colors-sand7: hsl(55, 5.9%, 85.2%);
    --colors-sand8: hsl(51, 6.0%, 77.1%);
    --colors-sand9: hsl(50, 2.0%, 55.7%);
    --colors-sand10: hsl(55, 1.7%, 51.9%);
    --colors-sand11: hsl(50, 2.0%, 43.1%);
    --colors-sand12: hsl(50, 6.0%, 10.0%);
    --gutter: 15px;
    --global-radius: 25px;
    --rounded-radius: 7px;
    --g_transition: 0.4s;
}


html {
    scroll-behavior: smooth;
    /* Apply smooth scroll behavior */
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(59, 6.5%, 95.1%);
}


h1 {
    color: black;
}


@media screen and (min-width: 768px) {
    [item-style="wide"] {
        grid-column-start: span 2;
        grid-column-end: span 2;
        grid-row-start: span 1;
        grid-row-end: span 1;
    }
    [item-style="tall"] {
        grid-column-start: span 1;
        grid-column-end: span 1;
        grid-row-start: span 2;
        grid-row-end: span 2;
    }
    [item-style="x-tall"] {
        grid-column-start: span 1;
        grid-column-end: span 1;
        grid-row-start: span 3;
        grid-row-end: span 3;
    }
    [item-style="x-wide"] {
        grid-column-start: span 3;
        grid-column-end: span 3;
        grid-row-start: span 1;
        grid-row-end: span 1;
    }
}

@media only screen and (max-width: 480px) {
    /*noinspection CssUnusedSymbol*/
    .pricing_card-wrapper {
        grid-template-columns: repeat(auto-fit, minmax(48%, 1fr));
        padding: .8em !important;
    }

    /*noinspection CssUnusedSymbol*/

}