---
export const prerender = true; // Ensures this page is served dynamically

import fetchArticles from '../lib/fetchArticles';

let articles = [];
try {
    articles = await fetchArticles();
    console.log(articles);
} catch (error) {
    console.error('Error loading articles:', error);
}
---
<html>
<head>
    <title>Articles Page</title>
</head>
<body>
<h1>Articles</h1>
{articles.length > 0 ? (
        <ul>
            {articles.map(article => (
                    <li>{article.data.title}</li>
                    <img src={article.data.url} alt="">
            ))}
        </ul>
) : (
        <p>No articles available</p>
)}
</body>
</html>
